.container {
  max-width: 1140px;
  margin: 0 auto;
}

.title-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.title-subtitle__title {
  font-family: SourceSansPro-Light;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 4px;
  text-align: center;
  color: #333b46;
  margin-bottom: 40px;
}

.title-subtitle__subtitle {
  max-width: 460px;
  font-family: OpenSans-Regular;
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.7px;
  text-align: center;
  color: #81868e;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "BigJohn";
  font-display: swap;
  src: url("../fonts/BigJohn.woff") format("woff"), url("../fonts/BigJohn.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro-Regular";
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro-Light";
  font-display: swap;
  src: url("../fonts/SourceSansPro-Light.woff") format("woff"), url("../fonts/SourceSansPro-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  height: 100vh;
}

.header__wrapper {
  height: 100%;
  background: url("../img/header-bg@2x.jpg") 30% 0/cover no-repeat;
  position: relative;
  z-index: 13;
  display: block;
}

.header__wrapper::after {
  content: "";
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.4;
  position: absolute;
  display: block;
  top: 0;
  z-index: 1;
}

.header__body {
  height: 100%;
  position: relative;
  z-index: 13;
  color: #fff;
  max-width: 1140px;
  margin: 0 auto;
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 13;
}

.header__nav div,
.header__nav ul {
  z-index: 12;
}

.header__nav::before {
  content: "";
  position: fixed;
  display: block;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;
  background-color: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__nav.scroll::before {
  background-color: rgba(0, 0, 0, 0.9);
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: BigJohn;
  font-size: 25px;
  line-height: normal;
  text-align: left;
  color: #fff;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 540px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 540px;
          flex: 1 1 540px;
}

.header__link {
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  margin-right: 10px;
  -webkit-transition: 50ms;
  -o-transition: 50ms;
  transition: 50ms;
  outline: none;
}

.header__link.active {
  outline: 2px solid #fff;
}

.header__link:hover {
  outline: 2px solid #fff;
}

.header__link a {
  color: #fff;
  font-family: OpenSans-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.35px;
  text-align: left;
  border: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header__burger {
  display: none;
}

.header__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header__title {
  font-family: SourceSansPro-Light;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 20px;
}

.header__subtitle {
  font-family: OpenSans-Regular;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 30px;
}

.header__button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #19bd9a;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__button img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 12px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.header__button:hover img {
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}

.footer__body {
  padding: 80px 0 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__title {
  font-family: BigJohn;
  font-size: 25px;
  line-height: 0.48;
  text-align: left;
  color: #323a45;
  margin-bottom: 24px;
}

.footer__subtitle {
  font-family: OpenSans-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: 0.7px;
  text-align: center;
  color: #81868e;
  margin-bottom: 40px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.footer__img:hover {
  opacity: 0.9;
}

.footer__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 30px 60px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__content {
  max-width: 470px;
  margin-right: 20px;
}

.about__title {
  font-family: SourceSansPro-Light;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  line-height: 0.6;
  letter-spacing: 4px;
  text-align: left;
  color: #333b46;
  margin-bottom: 50px;
}

.about__text {
  font-family: OpenSans-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: 0.7px;
  text-align: left;
  color: #81868e;
  margin-bottom: 40px;
  display: block;
}

.about__button {
  font-family: OpenSans-Regular;
  font-size: 16px;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: start;
  color: #333b46;
  border-radius: 30px;
  padding: 5px 20px;
  border: 2px solid #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: none;
}

.about__button:hover {
  background: #000;
  color: #fff;
}

.about__image {
  height: 350px;
  width: 215px;
}

.about__image img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

.details-about {
  background: #f3f3f3;
}

.details-about__body {
  padding: 80px 20px 100px 20px;
}

.details-about__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details-about__img {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #81868e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
  margin-bottom: 60px;
}

.details-about__img:hover {
  opacity: 0.9;
}

.details-about__img:first-child {
  background-color: #19bd9a;
}

.details-about__img img {
  -webkit-transform: scale(50%);
      -ms-transform: scale(50%);
          transform: scale(50%);
}

.details-about__title {
  font-family: OpenSans-Regular;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #464646;
  margin-bottom: 40px;
}

.details-about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: OpenSans-Regular;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.8px;
  text-align: left;
  color: #81868e;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.details-about__text p {
  width: 48%;
  margin-bottom: 20px;
  margin-right: 20px;
}

.details-about__text p:first-child {
  padding-right: 110px;
}

.projects__body {
  margin-top: 80px;
}

.projects__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__image {
  position: relative;
  z-index: 2;
}

.projects__image span {
  position: absolute;
  z-index: 2;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: SourceSansPro-Light;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.6;
  letter-spacing: 4px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.projects__image:not(:first-child) span {
  background: rgba(56, 56, 58, 0.85);
}

.projects__image:not(:first-child) span:hover {
  background: rgba(56, 56, 58, 0.2);
  font-size: 0;
}

.projects__image img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.projects__footer {
  height: 110px;
  background: url("../img/projects/bg.webp") 50% 0/cover no-repeat;
}

.projects__footer div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.projects__footer p {
  font-family: OpenSans-Regular;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #fff;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.projects__button {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: OpenSans-Regular;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  background: none;
  width: 140px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.projects__button:hover {
  background: #fff;
  color: #000;
}

.services {
  position: relative;
}

.services__body {
  padding: 80px 20px 150px 20px;
  position: relative;
}

.services__head {
  position: relative;
}

.services__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
}

.services__menu {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.services__menu div {
  width: 100%;
  background: #81868e;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__menu div img {
  -webkit-transform: scale(50%);
      -ms-transform: scale(50%);
          transform: scale(50%);
}

.services__text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 390px;
  margin-right: auto;
}

.services__text p {
  font-family: OpenSans-Regular;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #81868e;
  margin-bottom: 40px;
}

.services__title {
  font-family: OpenSans-Regular;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #464646;
  margin-bottom: 30px;
}

.services__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.skills__percent {
  position: relative;
}

.skills__ring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills__ring circle {
  -webkit-transform: translate(5px, 5px);
      -ms-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  fill: none;
  stroke-dasharray: 330;
  stroke-width: 4;
}

.skills__ring circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #3F7378;
}

.skills__ring circle:nth-child(2) {
  stroke: #1CBE9B;
}

.skills__content {
  margin-left: 5px;
  margin-top: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: OpenSans-Regular;
  font-size: 25px;
  line-height: 1;
  letter-spacing: 1.25px;
  text-align: left;
  color: #81868e;
}

.skills__content span {
  font-size: 16px;
}

.skills__title {
  margin-top: 20px;
  font-family: SourceSansPro-Light;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.8px;
  text-align: left;
  color: #81868e;
}

.services-footer {
  position: relative;
  background: url("../img/services-bg.webp") 50% 0/cover no-repeat;
}

.services-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
}

.services-footer__content {
  max-width: 600px;
  margin: 80px auto 100px 0;
}

.services-footer__title {
  font-family: SourceSansPro-Light;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 4px;
  text-align: left;
  color: #f3f3f3;
  margin-bottom: 60px;
}

.services-footer__text {
  font-family: OpenSans-Regular;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.8px;
  text-align: left;
  color: #b2b3b3;
  margin-bottom: 34px;
}

.services-footer__subtitle {
  font-family: OpenSans-Regular;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: 0.7px;
  text-align: left;
  color: #b2b3b3;
}

.services-footer__subtitle p:first-child {
  font-weight: 700;
}

.services-footer__image {
  max-width: 410px;
  position: relative;
  top: -40px;
  z-index: 2;
}

.services-footer__image div {
  position: relative;
}

.services-footer__image img {
  position: relative;
  top: 0;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
}

.services-footer__image p {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-family: BigJohn;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
}

.services-footer__image p span {
  color: rgba(25, 189, 154, 0.8);
}

.portfolio {
  background: #F3F3F3;
}

.portfolio__body {
  padding: 80px 20px 100px 20px;
}

.portfolio__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.portfolio__item {
  margin-right: 30px;
  font-family: OpenSans-Regular;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: left;
  color: #464646;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: 0.2s;
      -ms-transform: 0.2s;
          transform: 0.2s;
}

.portfolio__item a {
  color: #464646;
  margin-bottom: auto;
}

.portfolio__item span {
  display: block;
  width: 38px;
  height: 2px;
  background: #1CBE9B;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.portfolio__item:hover span {
  opacity: 1;
}

.portfolio__tile {
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
  height: 900px;
}

.portfolio__footer {
  margin-top: 20px;
  background: url("../img/portfolio/bg.jpg") 50% 0/cover no-repeat;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__footer p {
  font-family: OpenSans-Regular;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.portfolio__footer a {
  width: 140px;
  height: 40px;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: OpenSans-Regular;
  font-size: 16px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.portfolio__footer a:hover {
  background: #fff;
  color: #000;
}

.tile__item {
  width: 100%;
  position: relative;
  z-index: 2;
  height: auto;
  margin-bottom: 1em;
}

.tile__item img {
  position: relative;
  z-index: 1;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.tile__content {
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 40px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.tile__content:hover {
  opacity: 1;
}

.tile__title {
  text-transform: uppercase;
  font-family: SourceSansPro-Light;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 4px;
  text-align: left;
  color: #19bd9a;
}

.tile__title span {
  margin-top: 20px;
  display: block;
  width: 24px;
  height: 1px;
  background: #19bd9a;
}

.tile__text {
  margin-top: 30px;
  font-family: OpenSans-Regular;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: left;
  color: #b2b3b3;
  max-width: 190px;
}

.tile__buttons {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tile__buttons button {
  height: 28px;
  width: 28px;
  background: #000;
  border-radius: 50%;
  margin-right: 10px;
}

.tile__buttons button:hover {
  background: #555;
}

.tile__buttons img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(50%);
      -ms-transform: scale(50%);
          transform: scale(50%);
}

@media (max-width: 1024px) {
  .details-about__title {
    text-align: center;
  }

  .details-about__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .details-about__text p:first-child {
    padding-right: 0px;
  }
}

@media (max-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__list {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 100%;
    width: 35%;
    padding: 20% 5% 65% 0;
    top: 0;
    bottom: 0;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .header__list.active {
    right: 0;
  }

  .header__link {
    margin-bottom: 10px;
  }

  .header__link a {
    font-size: 20px;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    width: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 2;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .header__burger::before {
    position: absolute;
    top: 0;
  }

  .header__burger::after {
    position: absolute;
    bottom: 0;
  }

  .header__burger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    display: none;
  }

  .header__title {
    font-size: 38px;
  }

  .header__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 0;
  }

  .about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 80px 30px 60px 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__content {
    max-width: 470px;
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .projects__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .projects__image:not(:first-child) {
    margin-top: 2px;
    width: 50%;
    height: auto;
  }

  .projects__footer {
    height: auto;
  }

  .projects__footer div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 20px;
  }

  .projects__footer p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .services__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }

  .services__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 0;
  }

  .services__menu div {
    height: 56px;
    width: 56px;
    margin-right: 20px;
  }

  .services__text {
    width: auto;
    margin-right: 0;
    margin-top: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .services-footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .services-footer__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .services-footer__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .portfolio__tile {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    height: 100%;
  }
}

@media (max-width: 425px) {
  .header__nav {
    padding: 30px 30px;
  }

  .header__nav::before {
    height: 100px;
  }

  .header__list {
    width: 100%;
    padding: 30% 10% 100% 0;
  }

  .header__title {
    font-size: 28px;
  }

  .header__subtitle {
    font-size: 18px;
    font-family: OpenSans-Regular;
  }

  .header__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 0;
  }

  .details-about__text p {
    width: 100%;
  }

  .services__skills {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .skills__item {
    margin-right: 20px;
    margin-top: 20px;
  }

  .portfolio__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .portfolio__tile {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    height: 100%;
  }
}