.container {
  max-width: 1140px;
  margin: 0 auto;
}

.title-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.title-subtitle__title {
  font-family: SourceSansPro-Light;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 4px;
  text-align: center;
  color: #333b46;
  margin-bottom: 40px;
}

.title-subtitle__subtitle {
  max-width: 460px;
  font-family: OpenSans-Regular;
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.7px;
  text-align: center;
  color: #81868e;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "BigJohn";
  font-display: swap;
  src: url("../fonts/BigJohn.woff") format("woff"), url("../fonts/BigJohn.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro-Regular";
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro-Light";
  font-display: swap;
  src: url("../fonts/SourceSansPro-Light.woff") format("woff"), url("../fonts/SourceSansPro-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  height: 100vh;
}

.header__wrapper {
  height: 100%;
  background: url("../img/header-bg@2x.jpg") 30% 0/cover no-repeat;
  position: relative;
  z-index: 13;
  display: block;
}

.header__wrapper::after {
  content: "";
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.4;
  position: absolute;
  display: block;
  top: 0;
  z-index: 1;
}

.header__body {
  height: 100%;
  position: relative;
  z-index: 13;
  color: #fff;
  max-width: 1140px;
  margin: 0 auto;
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 13;
}

.header__nav div,
.header__nav ul {
  z-index: 12;
}

.header__nav::before {
  content: "";
  position: fixed;
  display: block;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;
  background-color: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__nav.scroll::before {
  background-color: rgba(0, 0, 0, 0.7);
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: BigJohn;
  font-size: 25px;
  line-height: 0.48;
  text-align: left;
  color: #fff;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 540px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 540px;
          flex: 1 1 540px;
}

.header__link {
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-transition: 50ms;
  -o-transition: 50ms;
  transition: 50ms;
  outline: none;
}

.header__link.active {
  outline: 2px solid #fff;
}

.header__link:hover {
  outline: 2px solid #fff;
}

.header__link a {
  color: #fff;
  font-family: OpenSans-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.35px;
  text-align: left;
  border: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header__burger {
  display: none;
}

.header__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header__title {
  font-family: SourceSansPro-Light;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 20px;
}

.header__subtitle {
  font-family: OpenSans-Regular;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 30px;
}

.header__button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #19bd9a;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__button img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 12px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.header__button:hover img {
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}

.footer__body {
  padding: 80px 0 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__title {
  font-family: BigJohn;
  font-size: 25px;
  line-height: 0.48;
  text-align: left;
  color: #323a45;
  margin-bottom: 24px;
}

.footer__subtitle {
  font-family: OpenSans-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: 0.7px;
  text-align: center;
  color: #81868e;
  margin-bottom: 40px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.footer__img:hover {
  opacity: 0.9;
}

.footer__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 30px 60px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__content {
  max-width: 470px;
  margin-right: 20px;
}

.about__title {
  font-family: SourceSansPro-Light;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  line-height: 0.6;
  letter-spacing: 4px;
  text-align: left;
  color: #333b46;
  margin-bottom: 50px;
}

.about__text {
  font-family: OpenSans-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: 0.7px;
  text-align: left;
  color: #81868e;
  margin-bottom: 40px;
  display: block;
}

.about__button {
  font-family: OpenSans-Regular;
  font-size: 16px;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: start;
  color: #333b46;
  border-radius: 30px;
  padding: 5px 20px;
  border: 2px solid #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: none;
}

.about__button:hover {
  background: #000;
  color: #fff;
}

.about__image {
  height: 350px;
  width: 215px;
}

.about__image img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

.details-about {
  background: #f3f3f3;
}

.details-about__body {
  padding: 80px 20px 100px 20px;
}

.details-about__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details-about__img {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #81868e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
  margin-bottom: 60px;
}

.details-about__img:hover {
  opacity: 0.9;
}

.details-about__img:first-child {
  background-color: #19bd9a;
}

.details-about__img img {
  -webkit-transform: scale(50%);
      -ms-transform: scale(50%);
          transform: scale(50%);
}

.details-about__title {
  font-family: OpenSans-Regular;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #464646;
  margin-bottom: 40px;
}

.details-about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: OpenSans-Regular;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.8px;
  text-align: left;
  color: #81868e;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.details-about__text p {
  width: 48%;
  margin-bottom: 20px;
  margin-right: 20px;
}

.details-about__text p:first-child {
  padding-right: 110px;
}

@media (max-width: 1024px) {
  .details-about__title {
    text-align: center;
  }

  .details-about__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .details-about__text p:first-child {
    padding-right: 0px;
  }
}

@media (max-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__list {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 100%;
    width: 35%;
    padding: 20% 5% 65% 0;
    top: 0;
    bottom: 0;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .header__list.active {
    right: 0;
  }

  .header__link a {
    font-size: 20px;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    width: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 2;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .header__burger::before {
    position: absolute;
    top: 0;
  }

  .header__burger::after {
    position: absolute;
    bottom: 0;
  }

  .header__burger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    display: none;
  }

  .header__title {
    font-size: 38px;
  }

  .header__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 0;
  }

  .about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 80px 30px 60px 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__content {
    max-width: 470px;
    margin-right: 0px;
    margin-bottom: 50px;
  }
}

@media (max-width: 425px) {
  .header__nav {
    padding: 30px 30px;
  }

  .header__nav::before {
    height: 100px;
  }

  .header__list {
    width: 100%;
    padding: 30% 10% 100% 0;
  }

  .header__title {
    font-size: 28px;
  }

  .header__subtitle {
    font-size: 18px;
    font-family: OpenSans-Regular;
  }

  .header__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 0;
  }

  .details-about__text p {
    width: 100%;
  }
}