.about {
    &__body {
        display: flex;
        padding: 80px 30px 60px 30px;
        justify-content: space-between;
    }
    &__content {
        max-width: 470px;
        margin-right: 20px;
    }
    &__title {
        font-family: $title;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 300;
        line-height: 0.6;
        letter-spacing: 4px;
        text-align: left;
        color: #333b46;
        margin-bottom: 50px;
    }
    &__text {
        font-family: $text;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.79;
        letter-spacing: 0.7px;
        text-align: left;
        color: #81868e;
        margin-bottom: 40px;
        display: block;
    }
    &__button {
        font-family: $text;
        font-size: 16px;
        line-height: 0.75;
        letter-spacing: normal;
        text-align: start;
        color: #333b46;
        border-radius: 30px;
        padding: 5px 20px;
        border: 2px solid #000;
        transition: 0.3s;
        background: none;
        &:hover {
            background: #000;
            color: #fff;
        }
    }
    &__image {
        height: 350px;
        width: 215px;
        & img {
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }
    @media (max-width: $md) {
        &__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 80px 30px 60px 30px;
            justify-content: center;
        }
        &__content {
            max-width: 470px;
            margin-right: 0px;
            margin-bottom: 50px;
        }
    }
}


.details-about {
    background: rgba(243,243,243, 1);
    &__body {
        padding: 80px 20px 100px 20px;
    }
    &__head {
    }
    &__icons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__img {
        width: 53px;
        height: 53px;
        border-radius: 50%;
        background-color: #81868e;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        margin-bottom: 60px;
        &:hover {
            opacity: 0.9;
        }
        &:first-child {
            background-color: #19bd9a;
        }
        & img {
            transform: scale(50%);
        }
    }
    &__title {
        font-family: $text;
        font-size: 20px;
        line-height: normal;
        letter-spacing: 0.8px;
        text-align: left;
        color: #464646;
        margin-bottom: 40px;
        @media (max-width: $lg) {
            text-align: center;
        }
    }
    &__text {
        display: flex;
        font-family: $text;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.75;
        letter-spacing: 0.8px;
        text-align: left;
        color: #81868e;
        flex-wrap: wrap;
        & p {
            width: 48%;
            margin-bottom: 20px;
            margin-right: 20px;
        }
        & p:first-child {
            padding-right: 110px;
        }
        @media (max-width: $lg) {
            align-items: center;
            justify-content: center;
            & p:first-child {
                padding-right: 0px;
            }
        }
        @media (max-width: $sm) {
            & p {
                width: 100%;
            }
        }
    }
}


.projects {
    &__body {
        margin-top: 80px;
    }
    &__head {
    }
    &__content {
        display: flex;
        @media (max-width: $md) {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }
    &__image {
        position: relative;
        z-index: 2;
        & span {
            position: absolute;
            z-index: 2;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $title;
            font-size: 20px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.6;
            letter-spacing: 4px;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            background: none;
            transition: 0.3s;
        }
        &:not(:first-child) {
            @media (max-width: $md) {
                margin-top: 2px;
                width: 50%;
                height: auto;
            }
            & span {
                background: rgba(56,56,58, 0.85);
                &:hover {
                    background: rgba(56,56,58, 0.2);
                    font-size: 0;
                }
            }
        }
        & img {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__footer {
        height: 110px;
        background: url('../img/projects/bg.webp') 50% 0/cover no-repeat;
        @media (max-width: $md) {
            height: auto;
        }
        & div {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            @media (max-width: $md) {
                flex-direction: column;
                padding: 10px 20px;
            }
        }
        & p {
            font-family: $text;
            font-size: 20px;
            line-height: normal;
            letter-spacing: 0.8px;
            text-align: left;
            color: #fff;
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;
            @media (max-width: $md) {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
    }
    &__button {
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $text;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.75;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        background: none;
        width: 140px;
        height: 40px;
        border: 2px solid #fff;
        border-radius: 20px;
        transition: 0.3s;
        &:hover {
            background: #fff;
            color: #000;
        }
    }
}


.services {
    position: relative;
    &__body {
        padding: 80px 20px 150px 20px;
        position: relative;
    }
    &__head {
        position: relative;
    }
    &__content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        @media (max-width: $md) {
            flex-direction: column;
            height: auto;
        }
    }
    &__menu {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-right: 40px;
        & div {
            width: 100%;
            background: #81868e;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            & img {
                transform: scale(50%);
            }
        }
        @media (max-width: $md) {
            flex-direction: row;
            margin-right: 0;
            & div {
                height: 56px;
                width: 56px;
                margin-right: 20px;
            }
        }
    }
    &__text {
        height: 100%;
        display: flex;
        flex-direction: column;
        max-width: 390px;
        margin-right: auto;
        & p {
            font-family: $text;
            font-size: 16px;
            line-height: normal;
            letter-spacing: 0.8px;
            text-align: left;
            color: #81868e;
            margin-bottom: 40px;
        }
        @media (max-width: $md) {
            width: auto;
            margin-right: 0;
            margin-top: 30px;
            align-items: center;
        }
    }
    &__title {
        font-family: $text;
        font-size: 20px;
        line-height: normal;
        letter-spacing: 0.8px;
        text-align: left;
        color: #464646;
        // flex: 1 1 auto;
        margin-bottom: 30px;
    }
    &__skills {
        display: flex;
        justify-content: space-between;
        @media (max-width: $sm) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    &__footer {
    }
}
.skills {
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        @media (max-width: $sm) {
            margin-right: 20px;
            margin-top: 20px;
        }
    }
    &__percent {
        position: relative;
    }
    &__ring {
        display: flex;
        align-items: center;
        justify-content: center;
        & circle {
            transform: translate(5px, 5px);
            fill: none;
            stroke-dasharray: 330;
            stroke-width: 4;
        }
        & circle:nth-child(1) {
            stroke-dashoffset: 0;
            stroke: #3F7378;
        }
        & circle:nth-child(2) {
            stroke: #1CBE9B;
        }
    }
    &__circle {
    }
    &__content {
        margin-left: 5px;
        margin-top: 5px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $text;
        font-size: 25px;
        line-height: 1;
        letter-spacing: 1.25px;
        text-align: left;
        color: #81868e;
        & span {
            font-size: 16px;
        }
    }
    &__title {
        margin-top: 20px;
        font-family: $title;
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: 0.8px;
        text-align: left;
        color: #81868e;
    }
}
.services-footer {
    position: relative;
    background: url('../img/services-bg.webp') 50% 0/cover no-repeat;
    &__body {
        display: flex;
        padding: 0 20px;
        @media (max-width: $md) {
            flex-direction: column;
            justify-content: center;
        }
    }
    &__content {
        @media (max-width: $md) {
            order: 2;
        }
        max-width: 600px;
        margin: 80px auto 100px 0;
    }
    &__title {
        font-family: $title;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 4px;
        text-align: left;
        color: #f3f3f3;
        margin-bottom: 60px;
    }
    &__text {
        font-family: $text;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.75;
        letter-spacing: 0.8px;
        text-align: left;
        color: #b2b3b3;
        margin-bottom: 34px;
    }
    &__subtitle {
        font-family: $text;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.79;
        letter-spacing: 0.7px;
        text-align: left;
        color: #b2b3b3;
        & p:first-child {
            font-weight: 700;
        }
    }
    &__image {
        max-width: 410px;
        position: relative;
        top: -40px;
        z-index: 2;
        @media (max-width: $md) {
            order: 1;
        }
        & div {
            position: relative;
        }
        & img {
            position: relative;
            top: 0;
            width: 100%;
            object-fit: contain;
            z-index: 1;
        }
        & p {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            font-family: $logo;
            font-size: 30px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: rgba(255, 255, 255, 0.8);
            transform: translateY(-30px);
            & span {
                color: rgba(25, 189, 154, 0.8);
            }
        }
    }
}


.portfolio {
    background: #F3F3F3;
    &__body {
        padding: 80px 20px 100px 20px;
    }
    &__head {
    }
    &__content {
    }
    &__menu {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
        @media (max-width: $sm) {
            flex-direction: column;
        }
    }
    &__item {
        margin-right: 30px;
        font-family: $text;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.75;
        letter-spacing: normal;
        text-align: left;
        color: #464646;
        height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: 0.2s;
        & a {
            color: #464646;
            margin-bottom: auto;
        }
        & span {
            display: block;
            width: 38px;
            height: 2px;
            background: #1CBE9B;
            opacity: 0;
            transition: 0.3s;
        }
        &:hover {
            & span {
                opacity: 1;
            }
        }
    }
    &__tile {
        column-count: 4;
        height: 900px;
        @media (max-width: $md) {
            column-count: 2;
            height: 100%;
        }
        @media (max-width: $sm) {
            column-count: 1;
            height: 100%;
        }
    }
    &__footer {
        margin-top: 20px;
        background: url('../img/portfolio/bg.jpg') 50% 0/cover no-repeat;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & p {
            font-family: $text;
            font-size: 20px;
            line-height: normal;
            letter-spacing: 0.8px;
            text-align: center;
            color: #fff;
            margin-bottom: 30px;
        }
        & a {
            width: 140px;
            height: 40px;
            border: 1px solid #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $text;
            font-size: 16px;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #fff;
            border-radius: 20px;
            transition: 0.2s;
            &:hover {
                background: #fff;
                color: #000;
            }
        }
    }
}
.tile {
    &__item {
        width: 100%;
        position: relative;
        z-index: 2;
        height: auto;
        margin-bottom: 1em;
        & img {
            position: relative;
            z-index: 1;
            object-fit: contain;
            width: 100%;
        }
    }
    &__content {
        opacity: 0;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 40px;
        transition: 0.3s;
        &:hover {
            opacity: 1;
        }
    }
    &__title {
        text-transform: uppercase;
        font-family: $title;
        font-size: 20px;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 4px;
        text-align: left;
        color: #19bd9a;
        & span {
            margin-top: 20px;
            display: block;
            width: 24px;
            height: 1px;
            background: #19bd9a;
        }
    }
    &__text {
        margin-top: 30px;
        font-family: $text;
        font-size: 12px;
        line-height: normal;
        letter-spacing: 0.6px;
        text-align: left;
        color: #b2b3b3;
        max-width: 190px;
    }
    &__buttons {
        margin: 10px 0;
        display: flex;
        & button {
            height: 28px;
            width: 28px;
            background: #000;
            border-radius: 50%;
            margin-right: 10px;
            &:hover {
                background: #555;
            }
        }
        & img {
            width: 100%;
            height: 100%;
            transform: scale(50%);
        }
    }
}


