
$sm: 425px;
$md: 768px;
$lg: 1024px;
$xl: 1440px;
$title: SourceSansPro-Light;
$text: OpenSans-Regular;
$logo: BigJohn;

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.title-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    &__title {
        font-family: $title;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: 4px;
        text-align: center;
        color: #333b46;
        margin-bottom: 40px;
    }
    &__subtitle {
        max-width: 460px;
        font-family: $text;
        font-size: 14px;
        line-height: 1.79;
        letter-spacing: 0.7px;
        text-align: center;
        color: #81868e;
    }
}

@import "null";
@import "fonts";
@import "_header";
@import "_footer";
@import "_main";
